* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.nav-container {
  height: 120px;
  padding: 0 40px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #324932;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center ;
}
.nav-container h1 {
  font-size: 32px;
}
.nav-container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container nav ul li {
  font-size: 22px;  
  list-style: none;
  margin-right: 20px;
}
.nav-container nav ul li:last-child {
  margin-right: 0;  
}
.nav-container nav ul li a{
  text-decoration: none;
  color: #fff;
}
.products-nav {
  padding: 10px 23px;  
  background: #c1b2b2;
}
.products-nav ul {
  display: flex;
  align-items: center;
}
.products-nav ul li {
  list-style: none;
  margin-right: 12px;
}
.products-nav ul li {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 3s ease-in-out;
}
.products-nav ul li .active {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.nav-container nav ul li .active {
  color: #fff;
  border-bottom: 2px solid #fff;
}
